<!doctype html>
<html>
  <head>
    <title>Example of the Authorization Code flow with Unsplash</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
      #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div id="login">
        <h1>This is an example of the Authorization Code flow</h1>
        <a href="/login" class="btn btn-primary">Log in with Unsplash</a>
      </div>
      <div id="loggedin">
        <div id="user-profile">
        </div>
        <div id="oauth">
        </div>
        <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button>
        <div class="container">
          <div id="unsplash-image"></div>
        </div>
      </div>
    </div>

    <script id="oauth-template" type="text/x-handlebars-template">
      {% raw %}
      <h2>oAuth info</h2>
      <dl class="dl-horizontal">
        <dt>Access token</dt><dd class="text-overflow">{{access_token}}</dd>
        <dt>Refresh token</dt><dd class="text-overflow">{{refresh_token}}</dd>
      </dl>
      {% endraw %}
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
      (function() {

        /**
         * Obtains parameters from the hash of the URL
         * @return Object
         */
        function getHashParams() {
          var hashParams = {};
          var queryString = window.location.search.substr(1);
          var queryTokens = queryString.split('&');
          
          for (var i = 0; i < queryTokens.length; i++) {
            queryToken = queryTokens[i];
            queryTokenTuple = queryToken.split('=');
            hashParams[queryTokenTuple[0]] = decodeURIComponent(queryTokenTuple[1]);
          }
          return hashParams;
        }

        var oauthSource = document.getElementById('oauth-template').innerHTML,
            oauthTemplate = Handlebars.compile(oauthSource),
            oauthPlaceholder = document.getElementById('oauth');

        var params = getHashParams();

        var access_token = params.access_token,
            refresh_token = params.refresh_token,
            error = params.error;

        if (error) {
          alert('There was an error during the authentication');
        } else {
          if (access_token) {
            // render oauth info
            oauthPlaceholder.innerHTML = oauthTemplate({
              access_token: access_token,
              refresh_token: refresh_token
            });

            $.ajax({
                url: 'https://api.unsplash.com/photos',
                headers: {
                  'Authorization': 'Bearer ' + access_token
                },
                success: function(response) {
                  var imageDiv = $('#unsplash-image');
                  for (var i = 0; i < response.length; i++)  {
                    image_small = response[i]['urls']['small'];
                    image_regular = response[i]['urls']['regular'];
                    url = '<a href="' + image_regular +'"><img src="' + image_small  + '" width="100" height="100"></a>';
                    imageDiv.append(url);
                  }

                  $('#login').hide();
                  $('#loggedin').show();
                }
            });
          } else {
              // render initial screen
              $('#login').show();
              $('#loggedin').hide();
          }

          document.getElementById('obtain-new-token').addEventListener('click', function() {
            $.ajax({
              url: '/refresh_token',
              data: {
                'refresh_token': refresh_token
              }
            }).done(function(data) {
              access_token = data.access_token;
              oauthPlaceholder.innerHTML = oauthTemplate({
                access_token: access_token,
                refresh_token: refresh_token
              });
            });
          }, false);
        }
      })();
    </script>
  </body>
</html>

